process {
    withName: COVERM_CONTIG {
        ext.args = params.cobra_coverm_args ? params.cobra_coverm_args : ""
        publishDir = [
            [
                path: { "${params.outdir}/AssemblyExtension/coverm/contig" },
                mode: params.publish_dir_mode,
                pattern: "*_alignment_results.tsv",
                enabled: true
            ],
            [
                path: { "${params.outdir}/AssemblyExtension/coverm/contig" },
                mode: params.publish_dir_mode,
                pattern: "*.log",
                enabled: true
            ]
        ]
    }
}