process {
    withName: COMPLETENESSFILTER {
        ext.args = [
            params.checkv_min_aai_completeness ? "--checkv_min_aai_completeness ${params.checkv_min_aai_completeness}" : "",
        ].join(" ").trim()
        publishDir = [
            [
                path: { "${params.outdir}/VirusMine/completenessfilter" },
                mode: "copy",
                pattern: '*_completeness_data.tsv',
                enabled: false
            ]
        ]
    }
}
