process {
    withName: PHABLES_INSTALL {
        ext.args = params.phables_args ? params.phables_args : ""
        publishDir = [
            path: { "${params.outdir}/AssemblyExtension/phables/install" },
            mode: params.publish_dir_mode,
            pattern: "phables_db",
            enabled: true
        ]
    }
}