includeConfig '../../modules/nf-core/cat/fastq/nextflow.config'
includeConfig '../../modules/nf-core/fastqc/nextflow.config'
includeConfig '../../modules/nf-core/fastp/nextflow.config'
includeConfig '../../modules/nf-core/multiqc/nextflow.config'
includeConfig '../../subworkflows/nf-core/fastq_bowtie2_fastq/nextflow.config'
includeConfig '../../subworkflows/nf-core/fastq_readassembly_fasta/nextflow.config'
