includeConfig '../../modules/nf-core/cat/fastq/nextflow.config'
includeConfig '../../modules/nf-core/fastqc/nextflow.config'
includeConfig '../../modules/nf-core/fastp/nextflow.config'
includeConfig '../../modules/nf-core/multiqc/nextflow.config'
includeConfig '../../modules/nf-core/seqkit/seq/nextflow.config'
includeConfig '../../modules/nf-core/seqkit/fx2tab/nextflow.config'
includeConfig '../../subworkflows/nf-core/fasta_assemblyqc_fasta/nextflow.config'
includeConfig '../../subworkflows/nf-core/fasta_checkv_fastatsv/nextflow.config'
includeConfig '../../subworkflows/nf-core/fasta_mgeclassification_fastatsv/nextflow.config'
includeConfig '../../subworkflows/nf-core/fastq_bowtie2_fastq/nextflow.config'
includeConfig '../../subworkflows/nf-core/fastq_readassembly_fasta/nextflow.config'
includeConfig '../../subworkflows/nf-core/fastqfastagfa_assemblyextension_fasta/nextflow.config'
