// includeConfig '../../modules/nf-core/cat/fastq/nextflow.config'
// includeConfig '../../modules/nf-core/fastqc/nextflow.config'
// includeConfig '../../modules/nf-core/fastp/nextflow.config'
// includeConfig '../../modules/nf-core/logan/contigawscli/nextflow.config'
// includeConfig '../../modules/nf-core/multiqc/nextflow.config'
// includeConfig '../../modules/nf-core/seqkit/fx2tab/nextflow.config'
// includeConfig '../../modules/nf-core/seqkit/seq/nextflow.config'
// includeConfig '../../modules/nf-core/seqkit/replace/nextflow.config'
// includeConfig '../../modules/nf-core/seqkit/split2/nextflow.config'
includeConfig '../../modules/nf-core/sra/sratools/nextflow.config'
// includeConfig '../../modules/nf-core/trtrimmer/nextflow.config'
// includeConfig '../../subworkflows/nf-core/accession_logan_fasta/nextflow.config'
// includeConfig '../../subworkflows/nf-core/fasta_assemblyqc_fasta/nextflow.config'
// includeConfig '../../subworkflows/nf-core/fasta_checkv_fastatsv/nextflow.config'
// includeConfig '../../subworkflows/nf-core/fasta_mgeclassification_fastatsv/nextflow.config'
// includeConfig '../../subworkflows/nf-core/fastq_bowtie2_fastq/nextflow.config'
// includeConfig '../../subworkflows/nf-core/fastq_readassembly_fasta/nextflow.config'
// includeConfig '../../subworkflows/nf-core/fastqfastagfa_assemblyextension_fasta/nextflow.config'
