includeConfig '../../../modules/nf-core/pyrodigalgv/nextflow.config'
includeConfig '../../../modules/nf-core/seqkit/seq/nextflow.config'
includeConfig '../../../modules/nf-core/seqkit/stats/nextflow.config'
includeConfig '../../../modules/nf-core/sequencestats/nextflow.config'
includeConfig '../../../modules/nf-core/tantan/nextflow.config'
includeConfig '../../../modules/nf-core/trfinder/nextflow.config'
