// Global default params, used in configs
params {
    // PIPELINE OPTIONS
    // Input/output
    input                       = null
    fastqs                      = null
    fastas                      = null
    sra_accessions              = null
    outdir                      = null
    publish_dir_mode            = 'copy'
    // READ DOWNLOAD OPTIONS
    download_sra_fastqs         = false
    // READ PREPROCESSING OPTIONS
    run_fastp                   = false
    fastp_args                  = null
    // HOST READ REMOVAL OPTIONS
    run_bowtie2_host_removal    = false
    bowtie2_host_removal_args   = null
    igenomes_host_key           = null
    host_fasta                  = null
    host_bowtie2_index          = null
    // VIRUS ENRICHMENT EVALUATION OPTIONS
    run_viromeqc                = false
    viromeqc_db                 = null
    viromeqc_args               = null
    // READ MERGING OPTIONS
    perform_run_merging         = false
    // LOGAN MULTIPLIED DOWNLOAD OPTIONS
    download_logan_mult_contigs = false
    download_logan_mult_unitigs = false
    logan_mult_min_abund        = 0
    // READ ASSEMBLY OPTIONS
    run_megahit_single          = false
    run_megahit_coassembly      = false
    megahit_args                = null
    run_spades_single           = false
    run_spades_coassembly       = false
    spades_args                 = "--meta"
    use_spades_scaffolds        = false
    run_penguin_single          = false
    run_penguin_coassembly      = false
    penguin_args                = null
    // ASSEMBLY EXTENSION OPTIONS
    run_cobra                   = false
    cobra_min_len               = 10000
    cobra_coverm_args           = null
    cobra_args                  = null
    run_phables                 = false
    phables_db                  = null
    phables_args                = null
    // ASSEMBLY DOWNLOAD OPTIONS
    download_logan_contigs      = false
    // ASSEMBLY QC OPTIONS
    assembly_min_len            = 0
    run_seqkit_stats            = false
    run_trfinder                = false
    trfinder_args               = null
    use_trfinder_fasta          = false
    prepend_sample_id           = false
    // ASSEMBLY SPLIT OPTIONS
    assembly_split_size         = 0
    // MGE CLASSIFICATION OPTIONS
    run_genomad                 = false
    genomad_db                  = null
    genomad_args                = null
    run_pyhmmer_virus           = false
    run_pyhmmer_plasmid         = false
    run_pyhmmer_busco           = false
    // VIRUS COMPLETENESS OPTIONS
    run_checkv                  = false
    checkv_db                   = null
    checkv_args                 = null
    // MGE QC FILTERING OPTIONS
    run_sequence_stats          = false
    run_tantan                  = false
    tantan_args                 = "-s 0.9"
    combined_stats              = null
    classification_filters      = null
    composition_filters         = null
    completeness_filters        = null
    checkv_min_aai_completeness = 80
    run_sequence_filtering      = false
    sequences_to_keep           = null
    // ASSEMBLY DEREPLICATION OPTIONS
    run_trtrimmer               = false
    trtrimmer_args              = null
    run_seqhasher               = false
    seqhasher_args              = null
    // VIRUS CLUSTERING OPTIONS
    run_vclust                  = false
    vclust_prefilter_args       = null
    vclust_align_args           = null
    vclust_cluster_args         = null

    // References
    genome                     = null
    igenomes_base              = 's3://ngi-igenomes/igenomes/'
    igenomes_ignore            = false

    // Boilerplate options
    outdir                       = null
    publish_dir_mode             = 'copy'
    monochrome_logs              = false

    help                         = false
    help_full                    = false
    show_hidden                  = false
    version                      = false
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/'
    // Schema validation default options
    validate_params            = true

}

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

profiles {
    debug {
        dumpHashes              = true
        process.beforeScript    = 'echo $HOSTNAME'
        cleanup                 = false
        nextflow.enable.configProcessNamesValidation = true
    }
    conda {
        conda.enabled           = true
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        conda.channels          = ['conda-forge', 'bioconda']
        apptainer.enabled       = false
    }
    mamba {
        conda.enabled           = true
        conda.useMamba          = true
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    docker {
        docker.enabled          = true
        conda.enabled           = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
        docker.runOptions       = '-u $(id -u):$(id -g)'
    }
    arm {
        docker.runOptions       = '-u $(id -u):$(id -g) --platform=linux/amd64'
    }
    singularity {
        singularity.enabled     = true
        singularity.autoMounts  = true
        conda.enabled           = false
        docker.enabled          = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    podman {
        podman.enabled          = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    shifter {
        shifter.enabled         = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    charliecloud {
        charliecloud.enabled    = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        apptainer.enabled       = false
    }
    apptainer {
        apptainer.enabled       = true
        apptainer.autoMounts    = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
    }
    wave {
        apptainer.ociAutoPull   = true
        singularity.ociAutoPull = true
        wave.enabled            = true
        wave.freeze             = true
        wave.strategy           = 'conda,container'
    }
    gitpod {
        executor.name           = 'local'
        executor.cpus           = 4
        executor.memory         = 8.GB
    }
    test      { includeConfig 'conf/test.config'      }
    test_full { includeConfig 'conf/test_full.config' }
}

// Set default registry for Apptainer, Docker, Podman, Charliecloud and Singularity independent of -profile
// Will not be used unless Apptainer / Docker / Podman / Charliecloud / Singularity are enabled
// Set to your registry if you have a mirror of containers
apptainer.registry    = 'quay.io'
docker.registry       = 'quay.io'
podman.registry       = 'quay.io'
singularity.registry  = 'quay.io'
charliecloud.registry = 'quay.io'

// Load igenomes.config if required
if (!params.igenomes_ignore) {
    includeConfig 'conf/igenomes.config'
} else {
    params.genomes = [:]
}
// Export these variables to prevent local Python/R libraries from conflicting with those in the container
// The JULIA depot path has been adjusted to a fixed path `/usr/local/share/julia` that needs to be used for packages in the container.
// See https://apeltzer.github.io/post/03-julia-lang-nextflow/ for details on that. Once we have a common agreement on where to keep Julia packages, this is adjustable.

env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
    JULIA_DEPOT_PATH = "/usr/local/share/julia"
}

// Set bash options
process.shell = """\
bash

set -e # Exit if a tool returns a non-zero status/exit code
set -u # Treat unset variables and parameters as an error
set -o pipefail # Returns the status of the last command to exit with a non-zero status or zero if all successfully execute
set -C # No clobber - prevent output redirection from overwriting files.
"""

// Disable process selector warnings by default. Use debug profile to enable warnings.
nextflow.enable.configProcessNamesValidation = false

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${trace_timestamp}.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${trace_timestamp}.html"
}

manifest {
    name            = 'nf-microbe/toolkit'
    author          = """CarsonJM"""
    homePage        = 'https://github.com/nf-microbe/toolkit'
    description     = """A Nextflow pipeline for running microbe-related analyses"""
    mainScript      = 'main.nf'
    nextflowVersion = '!>=24.04.2'
    version         = '1.0.0dev'
    doi             = ''
}

// Nextflow plugins
plugins {
    id 'nf-schema@2.1.1' // Validation of pipeline parameters and creation of an input channel from a sample sheet
}

validation {
    defaultIgnoreParams = ["genomes"]
    help {
        enabled = true
        command = "nextflow run $manifest.name -profile <docker/singularity/.../institute> --input samplesheet.csv --outdir <OUTDIR>"
        fullParameter = "help_full"
        showHiddenParameter = "show_hidden"
    }
}

// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'
