config {
    // Location of nf-tests
    testsDir "."

    // nf-test directory used to create temporary files for each test
    workDir System.getenv("NFT_WORKDIR") ?: ".nf-test"

    // location of an optional nextflow.config file specific for executing tests
    configFile "nextflow.config"

    // default profile since test/nextflow.config does not work for max_cpus
    profile "nf_test"

    // trigger full test run if changes are detected in these files
    triggers 'nextflow.config', 'nf-test.config', 'assets/test-datasets/**/*'
}
