process {
    withName: SPADES_SINGLE {
        ext.prefix = { "${meta.id}_${meta.assembler}"}
        publishDir = [
            [
                path: { "${params.outdir}/ReadAssembly/spades/single" },
                mode: params.publish_dir_mode,
                pattern: '*.fa.gz',
            ],
            [
                path: { "${params.outdir}/ReadAssembly/spades/single" },
                mode: params.publish_dir_mode,
                pattern: '*.log',
            ]
        ]
        ext.args = [
            params.spades_args ? params.spades_args : "",
        ].join(' ').trim()
    }

    withName: SPADES_COASSEMBLY {
        ext.prefix = { "${meta.id}_${meta.assembler}"}
        publishDir = [
            [
                path: { "${params.outdir}/ReadAssembly/spades/coassembly" },
                mode: params.publish_dir_mode,
                pattern: '*.fa.gz',
            ],
            [
                path: { "${params.outdir}/ReadAssembly/spades/coassembly" },
                mode: params.publish_dir_mode,
                pattern: '*.log',
            ]
        ]
        ext.args = [
            params.spades_args ? params.spades_args : "",
        ].join(' ').trim()
    }
}