process {
    withName: SPADES_SINGLE {
        storeDir = { "${params.outdir}/ReadAssembly/spades/single/${meta.id}" }
        ext.args = [
            params.spades_args ? params.spades_args : "",
        ].join(' ').trim()
    }

    withName: SPADES_COASSEMBLY {
        storeDir = { "${params.outdir}/ReadAssembly/spades/coassembly/${meta.id}" }
        ext.args = [
            params.spades_args ? params.spades_args : "",
        ].join(' ').trim()
    }
}