process {
    withName: PYHMMER_VIRUSCLASSIFY {
        publishDir = [
            [
                path: { "${params.outdir}/MGEClassification/pyhmmer/virusclassify/${meta.id}_${meta.assembler}_${meta.assembly_method}_${meta.extension}" },
                mode: params.publish_dir_mode,
                pattern: "*.virus_hmms.tsv",
                enabled: true
            ],
            [
                path: { "${params.outdir}/MGEClassification/pyhmmer/virusclassify/${meta.id}_${meta.assembler}_${meta.assembly_method}_${meta.extension}" },
                mode: params.publish_dir_mode,
                pattern: "*.virus_markers.tsv",
                enabled: true
            ]
        ]
    }
}