process {
    withName: PENGUIN_SINGLE {
        storeDir = { "${params.outdir}/ReadAssembly/plass/penguin/single/${meta.id}" }
        ext.args = [
            params.penguin_args ? params.penguin_args : "",
        ].join(' ').trim()
    }

    withName: PENGUIN_COASSEMBLY {
        storeDir = { "${params.outdir}/ReadAssembly/plass/penguin/coassembly/${meta.id}" }
        ext.args = [
            params.penguin_args ? params.penguin_args : ""
        ].join(' ').trim()
    }
}