process {
    withName: PENGUIN_SINGLE {
        ext.prefix = { "${meta.id}_${meta.assembler}"}
        ext.args = [
            params.penguin_args ? params.penguin_args : ""
        ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/ReadAssembly/plass/penguin/single" },
            mode: params.publish_dir_mode,
            pattern: '*.fasta.gz'
        ]
    }

    withName: PENGUIN_COASSEMBLY {
        ext.prefix = { "${meta.id}_${meta.assembler}"}
        ext.args = [
            params.penguin_args ? params.penguin_args : ""
        ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/ReadAssembly/plass/penguin/coassembly" },
            mode: params.publish_dir_mode,
            pattern: '*.fasta.gz'
        ]
    }
}