process {
    withName: PYHMMER_BUSCOCLASSIFY {
        publishDir = [
            [
                path: { "${params.outdir}/MGEClassification/pyhmmer/buscoclassify/${meta.id}_${meta.assembler}_${meta.assembly_method}" },
                mode: params.publish_dir_mode,
                pattern: "*.busco_hmms.tsv",
                enabled: true
            ],
            [
                path: { "${params.outdir}/MGEClassification/pyhmmer/buscoclassify/${meta.id}_${meta.assembler}_${meta.assembly_method}" },
                mode: params.publish_dir_mode,
                pattern: "*.busco_markers.tsv",
                enabled: true
            ]
        ]
    }
}