process {
    withName: PENGUIN_SINGLE {
        ext.args = [
            params.penguin_args ? params.penguin_args : "",
        ].join(' ').trim()
    }

    withName: PENGUIN_COASSEMBLY {
        ext.args = [
            params.penguin_args ? params.penguin_args : ""
        ].join(' ').trim()
    }
}