process {
    withName: COMPOSITIONFILTER {
        ext.args = [
            params.seqkit_seq_min_len ? "--min_len ${params.seqkit_seq_min_len}" : ""
        ].join(" ").trim()
        publishDir = [
                path: { "${params.outdir}/VirusMine/compositionfilter" },
                mode: "copy",
                pattern: '*_composition_data.tsv',
                enabled: false
        ]
    }
}
