process {
    withName: FILTERSEQUENCES {
        publishDir = [
            [
                path: { "${params.outdir}/VirusMine/filtersequencs" },
                mode: "copy",
                pattern: '*_filtered.fasta.gz'
            ],
            [
                path: { "${params.outdir}/VirusMine/filtersequencs" },
                mode: "copy",
                pattern: '*_filtered_proteins.faa.gz'
            ]
        ]
    }
}
