/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    process {
    withName: '.*' {
        ext.prefix = { prefix ->
            if (meta.chunk && meta.extension) { "${meta.id}_run${meta.run}_${meta.assembler}_${meta.extension}_${meta.chunk}" }
            else if (meta.chunk && meta.assembler) { "${meta.id}_run${meta.run}_${meta.assembler}_${meta.chunk}" }
            else if (meta.chunk) { "${meta.id}_run${meta.run}_${meta.chunk}" }
            else if (meta.assembler) { "${meta.id}_run${meta.run}_${meta.assembler}" }
            else if (meta.run) { "${meta.id}_run${meta.run}" }
            else { "${meta.id}" }
        }
        publishDir = { "${params.outdir}" + "/" + task.process.replace(':', '/').toLowerCase() }
    }
}

}
