params {
    // Test data options
    test_data_base = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules'
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
    remove_intermediate_files   = false
}

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

// Load test_data.config containing paths to test data
includeConfig 'https://raw.githubusercontent.com/nf-core/modules/master/tests/config/test_data.config'

process {
    withName: BOWTIE2_ALIGN {
        cpus = 1
    }

    withName: COBRAMETA {
        cpus = 1
    }

    withName: COBRA_CONTIG {
        cpus = 1
    }

    withName: GENOMAD_ENDTOEND {
        ext.args = "--splits 5"
    }

    withName: 'MEGAHIT.*' {
        cpus = 1
    }

    withName: PHABLES_RUN {
        errorStrategy = 'ignore'
    }

    withName: PYRODIGALGV {
        cpus = 1
    }
}
