/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running FastQ tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a FastQ pipeline test.

    Use as follows:
        nextflow run nf-microbe/toolkit -profile test_fastq,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test full FastQ functionality'
    config_profile_description = 'Full FastQ dataset to check pipeline function'

    // PIPELINE OPTIONS
    // Input/output
    input                       = "${projectDir}/assets/test-datasets/samplesheets/test_fastq_samplesheet.csv"
    fastqs                      = null
    fastas                      = null
    // Cleanup
    remove_intermediate_files   = true
    // READ PREPROCESSING OPTIONS
    // Read trimming/QC
    run_fastp                   = true
    fastp_args                  = null
    save_fastp_fastq            = true
    // Read runmerging
    perform_run_merging         = true
    save_run_merged_fastq       = true
    // Host read removal
    run_bowtie2_host_removal    = true
    bowtie2_host_removal_args   = null
    genome                      = null
    igenomes_base               = 's3://ngi-igenomes/igenomes/'
    igenomes_ignore             = true
    host_fasta                  = "${projectDir}/assets/test-datasets/fastas/genome.fasta.gz"
    host_bowtie2_index          = "${projectDir}/assets/test-datasets/bowtie2/"
    save_host_removed_fastq     = true
    // READ ASSEMBLY OPTIONS
    run_megahit_single          = true
    run_megahit_coassembly      = true
    megahit_args                = null
    run_spades_single           = true
    run_spades_coassembly       = true
    spades_args                 = "--meta --only-assembler"
    use_spades_scaffolds        = true
    run_penguin_single          = true
    run_penguin_coassembly      = true
    penguin_args                = "--min-contig-len 100"
}
