/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a minimal pipeline test.

    Use as follows:
        nextflow run nf-microbe/toolkit -profile test_nothing,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test nothing'
    config_profile_description = 'Full nothing dataset to check pipeline function'

    // PIPELINE OPTIONS
    // Input/output
    input                       = null
    fastqs                      = null
    fastas                      = null
    // Cleanup
    remove_intermediate_files   = false
    // READ PREPROCESSING OPTIONS
    // Read trimming/QC
    run_fastp                   = false
    fastp_args                  = null
    save_fastp_fastq            = false
    // Read runmerging
    perform_run_merging         = false
    save_run_merged_fastq       = false
    // Host read removal
    run_bowtie2_host_removal    = false
    bowtie2_host_removal_args   = null
    genome                      = null
    igenomes_base               = 's3://ngi-igenomes/igenomes/'
    igenomes_ignore             = true
    host_fasta                  = null
    host_bowtie2_index          = null
    save_host_removed_fastq     = false
}
