process {
    withName: TANTAN {
        ext.args = [
            params.tantan_args ? "${params.tantan_args}" : ""
        ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/AssemblyQC/tantan/${meta.id}_${meta.assembler}_${meta.assembly_method}" },
            mode: params.publish_dir_mode,
            pattern: '*.tantan.bed',
            enabled: true
        ]
    }
}