process {
    withName: CHECKV_GENBANKHITS {
        publishDir = [
            path: { "${params.outdir}/VirusCompleteness/checkv/genbankhits/${meta.id}_${meta.assembler}_${meta.assembly_method}" },
            mode: params.publish_dir_mode,
            pattern: "*_checkv_genbank_hits.tsv",
            enabled: true
        ]
    }
}