process {
    withName: 'PENGUIN_.*' {
        ext.args = [
            params.plass_penguin_args ? params.plass_penguin_args : ""
        ].join(' ').trim()
    }

    withName: 'SPADES_.*' {
        ext.args = [
            params.spades_args ? params.spades_args : ""
        ].join(' ').trim()
    }
}
