params {
    config_profile_description = "Example config profile used for the University of Washington's Hyak HPC."
    config_profile_contact = 'Carson J. Miller (@CarsonJM)'
    config_profile_url = 'https://hyak.uw.edu/'
    max_memory = 300.GB
    max_cpus = 32
    max_time = 72.h
}

process {
    executor = 'slurm'
    // Set the default account for SLURM submission
    clusterOptions = { "-A stf" }

    // Submit to different queues based on the number of attempts
    queue  = { task.attempt < 3 ? ( task.attempt < 2 ? 'ckpt-all' : 'compute' ) : 'compute-hugemem' }
    // Default options for all process without labels
    cpus   = { check_max( 1    * task.attempt, 'cpus'   ) }
    memory = { check_max( 6.GB * task.attempt, 'memory' ) }
    time   = { check_max( 4.h  * task.attempt, 'time'   ) }

    // errorStrategy = { task.exitStatus in ((130..145) + 104 + 250 + 255) ? 'retry' : 'ignore' }
    errorStrategy = { task.attempt < 4 ? 'retry' : 'ignore' }
    maxRetries    = 3
    maxErrors     = '-1'

    // Process-specific resource requirements
    // NOTE - Please try and re-use the labels below as much as possible.
    //        These labels are used and recognised by default in DSL2 files hosted on nf-core/modules.
    //        If possible, it would be nice to keep the same label naming convention when
    //        adding in your local modules too.
    withLabel:process_single {
        cpus   = { check_max( 1    * task.attempt, 'cpus'    ) }
        memory = { check_max( 6.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 4.h  * task.attempt, 'time'    ) }
    }
    withLabel:process_low {
        cpus   = { check_max( 2     * task.attempt, 'cpus'    ) }
        memory = { check_max( 12.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 4.h   * task.attempt, 'time'    ) }
    }
    withLabel:process_medium {
        cpus   = { check_max( 6     * task.attempt, 'cpus'    ) }
        memory = { check_max( 36.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 8.h   * task.attempt, 'time'    ) }
    }
    withLabel:process_high {
        cpus   = { check_max( 12    * task.attempt, 'cpus'    ) }
        memory = { check_max( 72.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 8.h   * task.attempt, 'time'    ) }
    }
    withLabel:process_long {
        cpus   = { check_max( 12    * task.attempt, 'cpus'    ) }
        memory = { check_max( 72.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 24.h  * task.attempt, 'time'    ) }
    }
    withLabel:process_high_memory {
        cpus   = { check_max( 12     * task.attempt, 'cpus'    ) }
        memory = { check_max( 250.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 16.h   * task.attempt, 'time'    ) }
    }
    withLabel:error_ignore {
        errorStrategy = 'ignore'
    }
    withLabel:error_retry {
        errorStrategy = 'retry'
        maxRetries    = 2
    }
}

executor {
    queueSize = 100
    submitRateLimit = '1 sec'
}

singularity {
    enabled = true
    autoMounts = true
}
