params {
    config_profile_description = "Example config profile used for the University of Washington's Hyak HPC."
    config_profile_contact = 'Carson J. Miller (@CarsonJM)'
    config_profile_url = 'https://hyak.uw.edu/'
}

process {
    resourceLimits = [
        cpus: 32,
        memory: '200.GB',
        time: '72.h'
    ]
    executor = 'slurm'
    // Set the default account for SLURM submission
    clusterOptions = { "-A stf" }

    // Submit to different queues based on the number of attempts
    queue  = { task.attempt < 4 ? (task.attempt < 3 ? 'ckpt' : 'compute' ) : 'compute-hugemem' }

    // errorStrategy = { task.exitStatus in ((130..145) + 104 + 250 + 255) ? 'retry' : 'ignore' }
    errorStrategy = { task.attempt < 2 ? 'retry' : 'ignore' }
    maxRetries    = 1
    maxErrors     = '-1'
}

executor {
    queueSize = 100
    submitRateLimit = '1 sec'
}

singularity {
    enabled = true
    autoMounts = true
}
