process {
    withName: SEQKIT_STATS {
        publishDir = [
            path: { "${params.outdir}/AssemblyQC/seqkit/stats/${meta.id}_${meta.assembler}_${meta.assembly_method}_${meta.extension}" },
            mode: params.publish_dir_mode,
            pattern: '*.tsv',
            enabled: true
        ]
        ext.args = "--all"
    }
}