process {
    withName: FASTP {
        ext.args = params.fastp_args ? params.fastp_args : ""
        publishDir = [
            path: { "${params.outdir}/ReadPreprocessing/fastp" },
            mode: params.publish_dir_mode,
            pattern: "*.fastp.fastq.gz",
            enabled: params.save_fastp_fastq
        ]
    }
}