process {
    withName: PYHMMER_PLASMIDCLASSIFY {
        publishDir = [
            [
                path: { "${params.outdir}/MGEClassification/pyhmmer/plasmidclassify/${meta.id}_${meta.assembler}_${meta.assembly_method}" },
                mode: params.publish_dir_mode,
                pattern: "*.plasmid_hmms.tsv",
                enabled: true
            ],
            [
                path: { "${params.outdir}/MGEClassification/pyhmmer/plasmidclassify/${meta.id}_${meta.assembler}_${meta.assembly_method}" },
                mode: params.publish_dir_mode,
                pattern: "*.plasmid_markers.tsv",
                enabled: true
            ]
        ]
    }
}