includeConfig '../../../modules/nf-core/seqhasher/sequniq/nextflow.config'
includeConfig '../../../modules/nf-core/seqkit/grep/nextflow.config'
includeConfig '../../../modules/nf-core/vclust/prefilter/nextflow.config'
includeConfig '../../../modules/nf-core/vclust/align/nextflow.config'
includeConfig '../../../modules/nf-core/vclust/cluster/nextflow.config'