process {
    withName: SEQKIT_SEQ_COBRA {
        ext.args = "--min-len ${params.cobra_min_len}"
    }

    withName: SEQKIT_SEQ {
        ext.args = "--min-len ${params.assembly_min_len}"
        ext.prefix = {
            if (meta.extension) { "${meta.id}_run${meta.run}_${meta.assembler}_${meta.extension}.length_filter" }
            else if (meta.assembler) { "${meta.id}_run${meta.run}_${meta.assembler}.length_filter" }
            else { "${meta.id}_run${meta.run}.length_filter" }
        }
    }
}