process {
    withName: COBRA_SEQ {
        publishDir = [
            path: { "${params.outdir}/AssemblyExtension/cobra/seq/${meta.id}_${meta.assembler}_${meta.assembly_method}" },
            mode: params.publish_dir_mode,
            pattern: '*.f*.gz',
            enabled: true
        ]
        ext.args = "--min-len ${params.cobra_min_len}"
        ext.prefix = { "${meta.id}_cobra"}
    }

    withName: SEQKIT_SEQ {
        publishDir = [
            path: { "${params.outdir}/AssemblyQC/seqkit/seq/${meta.id}_${meta.assembler}_${meta.assembly_method}" },
            mode: params.publish_dir_mode,
            pattern: '*.f*.gz',
            enabled: params.save_filtered_fasta
        ]
        ext.args = "--min-len ${params.assembly_min_len}"
        ext.prefix = { "${meta.id}.length_filtered"}
    }
}