includeConfig '../../../modules/local/seqhasher/sequniq/nextflow.config'
includeConfig '../../../modules/local/seqkit/grep/nextflow.config'
includeConfig '../../../modules/local/vclust/prefilter/nextflow.config'
includeConfig '../../../modules/local/vclust/align/nextflow.config'
includeConfig '../../../modules/local/vclust/cluster/nextflow.config'
