includeConfig '../../../modules/nf-core/bwa/index/nextflow.config'
includeConfig '../../../modules/nf-core/bwa/mem/nextflow.config'
includeConfig '../../../modules/nf-core/prophagetracer/wgs/nextflow.config'
includeConfig '../../../modules/nf-core/sambamba/markdup/nextflow.config'
includeConfig '../../../modules/nf-core/samtools/view/nextflow.config'
