process {
    withName: PYRODIGALGV {
        ext.args = [
            params.pyrodigalgv_args ? "${params.pyrodigalgv_args}" : ""
        ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/AssemblyQC/pyrodigalgv/${meta.id}_${meta.assembler}_${meta.assembly_method}" },
            mode: params.publish_dir_mode,
            pattern: '*.pyrodigalgv.faa.gz',
            enabled: true
        ]
    }
}