process {
    withName: COBRA_FX2TAB {
        publishDir = [
            path: { "${params.outdir}/AssemblyExtension/cobra/fx2tab" },
            mode: params.publish_dir_mode,
            pattern: '*.txt',
            enabled: true
        ]
        ext.args = "--header-line --name"
        ext.suffix = "txt"
    }
}