process {
    withName: BOWTIE2_ALIGN {
        ext.args = params.bowtie2_host_removal_args ? params.bowtie2_host_removal_args : ""
        publishDir = [
            [
                path: { "${params.outdir}/ReadPreprocessing/bowtie2/align" },
                mode: params.publish_dir_mode,
                pattern: "*.fastq.gz",
                enabled: params.save_host_removed_fastq
            ],
            [
                path: { "${params.outdir}/ReadPreprocessing/bowtie2/align" },
                mode: params.publish_dir_mode,
                pattern: "*.bowtie2.log",
                enabled: true
            ]
        ]
    }
}