process {
    withName: SPADES_SINGLE {
        ext.args = [
            params.spades_args ? params.spades_args : "",
        ].join(' ').trim()
    }

    withName: SPADES_COASSEMBLY {
        ext.args = [
            params.spades_args ? params.spades_args : "",
        ].join(' ').trim()
    }
}