process {
    withName: MEGAHIT_SINGLE {
        storeDir = { "${params.outdir}/ReadAssembly/megahit/single/${meta.id}" }
        ext.args = [
            params.megahit_args ? params.megahit_args : "",
        ].join(' ').trim()
    }

    withName: MEGAHIT_COASSEMBLY {
        storeDir = { "${params.outdir}/ReadAssembly/megahit/coassembly/${meta.id}" }
        ext.args = [
            params.megahit_args ? params.megahit_args : "",
        ].join(' ').trim()
    }
}