process {
    withName: MEGAHIT_SINGLE {
        ext.args = { [
            // meta.id.contains("unitig") ? "--k-list 21,39,59,79,99,119,141": "",
            params.megahit_args ? params.megahit_args : "",
        ].join(' ').trim() }
    }

    withName: MEGAHIT_COASSEMBLY {
        ext.args = [
            params.megahit_args ? params.megahit_args : "",
        ].join(' ').trim()
    }
}